@import url('https://fonts.cdnfonts.com/css/poppins');

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(243.48deg, #161037 34.06%, #224750 91.65%);
}

.headertp{
    background: #100D0D;
    height: 5vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 60vw;
}

.logo{
    padding: 10px 20px;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: row;
}

.titulo{
    color: white;
    font-size: 1.3rem;
    font-family: 'Poppins';
}

.barra{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1.2vw;
}

.aba1{
    text-decoration: none;
    color: white;
    font-family: 'Poppins';
    font-size: 1.2rem;
    cursor: pointer;
}


.containter {
    display: flex;
    flex-direction: row;
}

.main {
    display: flex;
    flex-direction: row;
}

/*homelong*/

#banner { 
    height: 40%;
}

.div_banner {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.imgbanner2 {
    display: flex;
    width: 40%;
    position: absolute;
    z-index: 1;
    border-radius: 28px;
    box-shadow: #000 30px 10px 50px;
}
.imgbanner1 { 
    filter: blur(20px);
    width: 98vw;
    height: 100vh;
    z-index: 0;
}





#jogos{
    display: flex;
    width: 100vw;
    margin-top: 20vh;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    z-index: 2;
}
.div_jogos{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 28vw;
    min-height: 500px;
    background-color: #FFFFFF;
    border-radius: 28px;
    justify-content: space-between;
}
.p1{
    width: 100%;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 600;
    margin: 0px;
    margin-top: 20px;
}
.p2{
    width: 100%;
    text-align: left;
    font-family: 'Poppins';
    margin: 0px;
    margin-top: 20px;
}
.p3{
    width: 100%;
    font-family: 'Poppins';
    font-weight: bold;
    margin: 0px;
    margin-top: 15px;
    text-align: right;
}
.sub_jogos{
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 18px;
}
.inputcheck{
    cursor: pointer;
    appearance: none;
    background-image: url("imgs/estrela_branca.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 24px;
    height: 24px;
}
.inputcheck:hover{
    background-color: #393939;
    border-radius: 50px;
}
.inputcheck:checked{
    appearance: none;
    width: 24px;
    height: 24px;
    background-image: url("imgs/estrela_amarela.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.botao_jogar{
    width: 8vw;
    height: 5vh;
    border: none;
    background-color: #2F2B49;
    border-radius: 8px;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Poppins';
    text-align: center;
}
.imagem_jogo{
    width: 28vw;
    border-radius: 24px;
}
#botaoCarregar{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    color: #000;
    background-color: #D9D9D9;
    font-family: 'Poppins';
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
#botaoCarregar:hover{
    background-color: #000;
    color: #D9D9D9;
}
.div_botao{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

/* fim homelong*/

/* MENU LATERAL */ 
/* container = .menu-lateral */

.menu-lateral { /*background, bordas, sombra*/ 
    width: 200px;
    background-color: #393939;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: .3s;
    box-shadow: 10px 5px 20px black;
    position: fixed;
    z-index: 4;
    top: 10vh;
}

.btn {
    display: flex;
    justify-content: flex-end; /* coloca a seta para a direita do menu */

}

.btn .arrow { /* espacamento da seta do menu */
    padding: 0 12px;
}

.menu { /* menu */
    display: flex;
    height: 40px; /* altura do menu */
    border-bottom: .5px solid #000; /* divisoria dos botoes do menu*/
    color: #fff; /* cor da letra do menu */
    align-items: center; 
    cursor: pointer; /* muda o cursor para mãozinha */
}

.menu:hover {
    padding-left: 5px;
    background: linear-gradient(243.48deg, #161037 34.06%, #224750 91.65%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: .3s;
}

.icon { /*ajusta o tamanho dos icones para fixalos no menu */
    flex: 1; /*poiscao dos icones no flex da div */
    min-width: 60px;
    max-width: 60px;
}
.txt {
    flex: 5;
    padding-left: 20px;
    
}

.menu button {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    background: none;
    font-family: 'Poppins';
    border:none!important;
    color: #fff;
    cursor: pointer;
    
}

.oculto { /* oculta o menu*/
    width: 60px;
}

.oculto .txt { /* oculta o texto do menu */
    display: none;
    transition: .3s;

}

.oculto .btn svg { /* rotaciona a seta do menu */
    transform: rotate(180deg);
    transition: .3s;
}
/* FIM -  MENU LATERAL */ 


