@import url('https://fonts.cdnfonts.com/css/poppins');

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.headertp{
    background: #100D0D;
    height: 5vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 65vw;
}

.logo{
    padding: 10px 20px;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: row;
}

.titulo{
    color: white;
    font-size: 1.3rem;
    font-family: 'Poppins';
}

.barra{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1.2vw;
}

#aba1{
    text-decoration: none;
    color: white;
    font-family: 'Poppins';
    font-size: 1.2rem;
}


.containter {
    display: flex;
    flex-direction: row;
}

.main {
    display: flex;
    flex-direction: row;
}

/*homelong*/

.diablo-img { /*banner*/
    display: flex;
    justify-content: flex-end;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 40px;
    width: 70vw;
    height: 350px;
}


#jogos{
    display: flex;
    width: 100vw;
    height: 1500px;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    background: linear-gradient(243.48deg, #161037 34.06%, #224750 91.65%);
}
#div_jogos{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 28vw;
    height: 400px;
    background-color: #FFFFFF;
    border-radius: 28px;
}
#imagem_jogo{
    width: 28vw;
    border-radius: 24px;
}
#link_jogo{
    color:black;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
}
/* fim homelong*/



/* MENU LATERAL */ 
/* container = .menu-lateral */

.menu-lateral { /*background, bordas, sombra*/ 
    margin-top: 40px;
    width: 200px;
    background-color: #393939;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: .3s;
    box-shadow: 10px 5px 20px black;
    position: absolute; 
    
}

.btn {
    display: flex;
    justify-content: flex-end; /* coloca a seta para a direita do menu */

}

.btn .arrow { /* espacamento da seta do menu */
    padding: 0 12px;
}

.menu { /* menu */
    display: flex;
    height: 40px; /* altura do menu */
    border-bottom: .5px solid #000; /* divisoria dos botoes do menu*/
    color: #fff; /* cor da letra do menu */
    align-items: center; 
    cursor: pointer; /* muda o cursor para mãozinha */
}

.menu:hover {
    padding-left: 5px;
    background: linear-gradient(243.48deg, #161037 34.06%, #224750 91.65%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: .3s;
}

.icon { /*ajusta o tamanho dos icones para fixalos no menu */
    flex: 1; /*poiscao dos icones no flex da div */
    min-width: 60px;
    max-width: 60px;
}
.txt {
    flex: 5;
    padding-left: 20px;
    
}

.oculto { /* oculta o menu*/
    width: 60px;
}

.oculto .txt { /* oculta o texto do menu */
    display: none;
    transition: .3s;

}

.oculto .btn svg { /* rotaciona a seta do menu */
    transform: rotate(180deg);
    transition: .3s;
}
/* FIM -  MENU LATERAL */ 


